{
   "extends": [
      "@nyxb"
   ],
   "rules": {
      "@typescript-eslint/no-require-imports": 0,
      "@typescript-eslint/no-var-requires": 0,
      "import/no-anonymous-default-export": 0,
      "prefer-rest-params": 0,
      "new-cap": 0, // "new" is allowed
      "no-new": 0
   }
}
